@font-face { font-family: IBMPlexMono-regular; 
  src: url('./static/IBMPlexMono-Regular.ttf'); } 

@font-face { font-family: Roboto-Regular; 
    src: url('./static/fonts/Roboto-Regular.ttf'); } 

* {
  box-sizing: border-box;
}

dialog::backdrop {
  background-color: rgba(128, 128, 128, 0.5);
}


h1 span {
  font-size: 1rem;
}

.label-checkbox span {
  margin: -7px;
}


img.logo{
  width: 100px; 
  height: 100px;
  object-fit: contain;
  
}

.logo:hover{
  cursor: pointer;
}

#userNameLogo:hover{
  cursor: pointer;
}


#wrapper {
  position: relative;
  height: 100%
}

dialog {
  width: 60%;
}

label {
  vertical-align: top;
}

.dealLabel {
  font-weight: bold;
}


.hidden {
  display: none;
}

#mynetwork .vis-network:focus{
  outline: none;
}

#topDateRange {
  top: 5px;
  z-index: 11;
  font-size: 46px;
}

.status {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  margin: 20px;
  font-size: large;
  text-align: center;
}

#system{
  margin-top: -10px;
  font-size: 2rem;
  position: relative;
  font-weight: normal;
  display: inline;
}

#liveinternet {
  position: absolute;
  bottom: 0;
  right: 0;
}

#userNameLogo {
  
  font-size: 2rem;
  position: relative;
  left: 3px;
  max-width: 180px;
  white-space: nowrap;
}

#logoRight {
  font-family: IBMPlexMono-regular;
  color: rgb(80, 80, 80);
  margin-top: -8px;
}

.auth div{
  padding: 3px
}

.auth {
  font-family: 'Roboto-Regular';
  margin: 8px;
  padding: 10px;
  background: white;
  z-index: 10;
  border-radius: 20px;
  text-align: right;
  height: fit-content;
}

#settingsWindow {
  margin: 8px;
  padding: 10px;
  background: white;
  z-index: 10;
  border-radius: 20px;
  display: flex;
}

#rangeDiv {
  max-width: 180px;
}

.range {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(to right, #222222, rgb(2, 168, 30));
  width: 97%;
  height: 10px;
  margin: 10px 2px;
  outline: none;
}

.redBorder {
  border: 2px solid red;
}

.noBorder {
  border: none;
}

.close {
  float: right;
}

#thoughtChoiceGoodBad {
  text-align: center;
}

#thoughtState {
  margin-left: 40%;
  padding: 10px;
} 

#thoughtDescription {
  display: block;
  margin: 0 25% 10px 25%;
  padding: 5px;
  font-size: x-large;
  text-align: center;
}

textarea:focus,
input:focus {
  outline: none;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: IBMPlexMono-regular;
}

 .content {
  height: 100%;
  background-color: rgb(235, 235, 235);
}

#header {
  z-index: 50;
  display: flex;
  position: absolute;
  width: 100%;
  background: none;
  flex-wrap: wrap;
  justify-content: space-between;

}

.range::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 12px;
  width: 12px;
  background: #1298e600;
  border-radius: 40px;
  border: 2px solid #c2c0c0;
}

input[type=range]:disabled {
  background-image: linear-gradient(to right, #4e4e4e, rgb(100, 155, 110));
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: -5px;
  border: 4px solid #6bbd42;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #6bbd42 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
